* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Oxygen";
}

header {
    padding: 80px;
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    height: 240px;
}

h1 {
    font-size: 54px;
    font-weight: 900;
}

h2 {
    font-size: 16px;
    color: gray;
}

ul {
    margin-top: 55px;
    display: inline-block;
    background-color: #000;
    padding: 25px;
    border-radius: 35px;
}

li {
    display: inline-block;
    color: #666;
    padding: 0 25px;
}

li.active {
    color: white;
}

main {
    background-image: url(images/bg-img02.png);
    padding: 30px;
}

main h2 {
    font-size: 30px;
    color: #000;
}

.main-content-row {
    margin-top: 30px;
}

.main-content-row div {
    width: 20%;
    display: inline-block;
    margin: 0 2.5%;
}

.main-content-row div:first-child {
    margin-left: 0;
}

.main-content-row div div:last-child {
    margin-right: 0;
}

.main-content-row figure img {
    width: 100%;
    border-radius: 10px;
}

.main-content-row p {
    margin: 20px 0;
    line-height: 30px;
}

.main-content-row button {
    padding: 15px;
    background-color: #111;
    color: white;
    border-radius: 5px;
}